/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

h1 {
    color: #444;
    margin-bottom: 20px;
    font-size: 2.5em;
    text-align: center;
}

/* Contenedor principal */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

/* Estilos para el botón */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para el resultado */
#resultado {
    margin-top: 20px;
    font-size: 1.2em;
    color: #007bff;
    font-weight: bold;
    font-size: 1.2em;
    
}